LOGGING_LEVEL=DEBUG

CALENDAR_URL=
CALENDAR_OUTLOOK_DAYS=
CALENDAR_EVENT_MAXIMUM=
CALENDAR_CACHE_REFRESH=
CALENDAR_TIMEZONE=

WATCHED_CHANNELS=
SLACK_API_TOKEN=
SLACK_JUMPSTART_MESSAGE=

WIKI_API=
WIKIBOT_USER=
WIKIBOT_PASSWORD=
WIKI_CATEGORY=
