CALENDAR_URL=
CALENDAR_OUTLOOK_DAYS=
CALENDAR_EVENT_MAXIMUM=
CALENDAR_CACHE_REFRESH=
CALENDAR_TIMEZONE=

SLACK_MEETINGS_KEYWORD=""
SLACK_NONTECHNICAL_SEMINAR_KEYWORD=""
SLACK_TECHNICAL_SEMINAR_KEYWORD=""

SLACK_ALLOW_ANNOUNCEMENTS=false
SLACK_ANNOUNCEMENT_CHANNEL=
SLACK_ACTIVE_GROUP_ID=
SLACK_MEETINGS_GROUP_ID=
SLACK_FROSH_GROUP_ID=
SLACK_TEST_GROUP_ID=

WATCHED_CHANNELS=
SLACK_API_TOKEN=
SLACK_SIGNING_SECRET=

WIKI_API=
WIKIBOT_USER=
WIKIBOT_PASSWORD=
WIKI_CATEGORY=
