body{
    /*background-image: url('lightmode.png');*/
}

#top-bar{
    border: 5px solid #B0197E;
    background-color: #34495e;
}

.datadog{
    overflow: hidden;
    border: 10px #B0197E solid;
    border-radius: 10px;
    width: 1000px;
    height: 790px;
    float: right;
    zoom: 1.1;
    -webkit-transform: scale(0.70,0.70);
}

.file-title{
    color: #fcf6fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.calendar-frame{
    background-color: #34495e;
    border: 5px #B0197E solid;
    border-radius: 15px;
    margin-top: 5%;
}

.calendar-text{
    color: #fcf6fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}