html, body{
    background-color: #891462;
}

@media screen and (max-width: 1680px) {
    .panel.panel-primary {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .panel.panel-primary {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 736px) {
    .panel.panel-primary {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .panel.panel-primary {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }
}

div.version{
    text-align: center;
}

html,body{
    background-color: #891462; 
    margin-top: 20px;
}
.datadog {
    margin-top: 10%;
    overflow: hidden;
    border-top:  10px #d91f9c solid;
    border-bottom:  10px #d91f9c solid; 
    border-left:  10px #d91f9c solid;
    border-radius: 30px;
    width: 1600px; 
    height: 1000px;
    max-width: 1100px;
    max-height: 790px;
    -webkit-transform: scale(0.8,0.59);
    -webkit-transform-origin: 0 0;
}
.csh-logo{
    margin-left: 25%; 
    margin-bottom: 7%;
}
.widget-border{
    border: 5px solid black;
}
.widget-border-m{
    border: 5px solid black;
    margin-top: 10%;
}

