body{
    background-image: url('CSH_square.png');
}

#top-bar{
    border: 5px solid #B0197E;
    background-color: #34495e;
}

.datadog{
    overflow: hidden;
    border: 10px #B0197E solid;
    border-radius: 10px;
    width: 1000px;
    height: 790px;
    float: right;
    zoom: 1.1;
    -webkit-transform: scale(0.70,0.70);
}

.file-title{
    color: #fcf6fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
}