body {
    margin-top: 80px;
}

@media screen and (max-width: 1680px) {
    .panel.panel-primary {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .panel.panel-primary {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 736px) {
    .panel.panel-primary {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .panel.panel-primary {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }
}

div.version{
    text-align: center;
}