body{
    background-image: url(darkmode.png);
}

.panel-primary{
    border: 8px solid black;
    border-radius: 10px;
}

#top-bar{
    border: 5px solid #B0197E;
    background-color: #34495e;
}

.file-title{
    color: #fcf6fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
}

.datadog{
    margin-top: 20px;
    overflow: auto;
    border: 8px #B0197E solid;
    border-radius: 10px;
    width: 760px;
    height: 580px;
    float: right;
    margin-bottom: 16%;
}

.announcements{
    float: left;
    width: 50%;
    padding-top: 22.5%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    min-height: 700px;
    overflow: hidden;
}

.announcements-text-header{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.announcements-text-body{
    color: #34495e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}

.shower-thoughts{
    float: left;
    width: 100%;
    padding-left: 1%;
    /*padding-right: 1%;*/
    padding-bottom: 0.5%;
}

.shower-thoughts-text-header{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.shower-thoughts-text-body{
    color: #34495e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}

.calendar-frame-lvl1{
    background-color: #fcf6fa;
    border: 8px #B0197E solid;
    border-radius: 10px;
    margin-top: 20px;
    height: 950px;
    max-height: 950px;
    overflow: hidden;
}

.calendar-event-container-lvl2{
    padding-right: 2%;
    padding-left: 2%;
}

.calendar-text-date{
    color: #4c4c4c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(176,25,126, 0.5);
    text-align: center;
}

.calendar-text{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
}
