body{
    background-image: url(darkmode.png);
}
#top-bar{
    border: 5px solid #B0197E;
    background-color: #34495e;
}

.shower-thoughts{
    float: left;
    width: 100%;
}

.shower-thoughts-text-header{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

.shower-thoughts-text-body{
    color: #34495e;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}

.datadog{
    overflow: hidden;
    border: 8px #B0197E solid;
    border-radius: 10px;
    width: 1000px;
    height: 790px;
    float: right;
    zoom: 1.1;
    -webkit-transform: scale(0.7,0.7);
    -webkit-transform-origin: 100% 6%;
}

.file-title{
    color: #fcf6fa;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
}

.calendar-frame-lvl1{
    background-color: #fcf6fa;
    border: 5px #B0197E solid;
    border-radius: 10px;
    margin-top: 5%;
    height: 950px;
    max-height: 950px;
    overflow: hidden;
}

.calendar-event-container-lvl2{
    padding-right: 2%;
    padding-left: 2%;
}

.calendar-text-date{
    color: #4c4c4c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgb(176,25,126, 0.5);
    text-align: center;
}

.calendar-text{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
}
