<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Jumpstart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#B0197E">
    <link rel="stylesheet" href="https://assets.csh.rit.edu/csh-material-bootstrap/3.3.6/dist/csh-material-bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="//calendar.google.com/calendar/static/c6011b9dda3a0577ec4249fc8309d70eembedcompiled_fastui.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="top-bar" align="left">
            <a target="_blank" style="float: left;" href="https://www.booked.net/weather/rochester-1500"><img id="weather-image" src="https://w.bookcdn.com/weather/picture/26_1500_0_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=23470"  alt="booked.net"/></a>
            <iframe style="-webkit-transform-origin: 8%  65%; -webkit-transform: scale(.50,.50); float: left;" src="https://free.timeanddate.com/clock/i6zogrqs/n179/fn8/fs45/fcfcf6fa/tct/pct/ahl/ftb/tt0/tm3/th2/ts1/tb1" frameborder="0" width="800" height="53" allowTransparency="true"></iframe> 

            <b style="margin-top: 10px; float: left;"><span class="file-title">Last File:</span><span class="file-title" id="harold-file-name"> </span></b>
        
        </div>
        <div class="row justify-content-around">
            <div class="col-md-10" style="align-content: left; overflow: hidden;" align="left">
                <iframe class="datadog" scrolling="no" frameborder="0" src="https://p.datadoghq.com/sb/44f16805b-cab847d58c?tv_mode=true"></iframe>
                <div class="shower-thoughts">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b><span class="shower-thoughts-text-header">Shower Thoughts</span></b>
                        </div>
                        <div class="panel-body">
                            <div class="plug-body">
                                <b><span class="shower-thoughts-text-body" id="showerthoughts"></span></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="calendar-frame-lvl1" style="float: right;" width="" height="940" frameborder="0" scrolling="no">
                    <b><div id="calendar"></div></b>
                    <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%233F51B5&amp;ctz=America%2FNew_York&amp;src=cnRpNjQ4azVodjdqM2FlM2EzcnVtOHBvdGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%234285F4&amp;showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA" style="border-width:0; border: 5px #B0197E solid; border-radius: 15px; margin-top: 5%; float: right;" width="" height="750" frameborder="0" scrolling="no"></iframe> -->
                </div>
            </div>
        </div>
    </div>
<script type=text/javascript>
setInterval(function(){
    var date = new Date();
    if (date.getMonth()+1 == 10 && (date.getDate() == 29 || date.getDate() == 30 || date.getDate() == 31) ){
        $("body").css("background-image", "url(../static/css/spookymode.png)");
    }else if(date.getMonth()+1 == 11 && (date.getDate() == 1 || date.getDate() == 2 || date.getDate() == 3)){
        $("body").css("background-image", "url(../static/css/spookymode.png)");
    }else if(9 < date.getHours() < 21){
        $("body").css("background-image", "url(../static/css/lightmode.png)");
    }else{
        $("body").css("background-image", "url(../static/css/darkmode.png)");
    }
    
}, 60000);

setInterval(function(){ 
    fetch('/getdata-reset', {
        method: 'GET',
        mode:'no-cors',
        dataType: 'json'
    })
    .then(r => r.json())
    .then(r => {
        $("#harold-file-name").text(r.data)
    })
    .catch(err => console.log(err))

}, 10000);

setInterval(function(){ 
    fetch('/calendar', {
        method: 'GET',
        mode:'no-cors',
        dataType: 'json'
    })
    .then(r => r.json())
    .then(r => {
        $("#calendar").html(r.data)
    })
    .catch(err => console.log(err))

    document.getElementById("weather-image").src = "https://w.bookcdn.com/weather/picture/26_1500_0_1_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=w209&anc_id=23470&" + new Date().getTime();

}, 10000);

setInterval(function(){ 
    fetch('/showerthoughts', {
        method: 'GET',
        mode:'no-cors',
        dataType: 'json'
    })
    .then(r => r.json())
    .then(r => {
        $("#showerthoughts").text(r.data)
    })
    .catch(err => console.log(err))

}, 30000);
</script>
</body>
</html>